@use 'hero';
@use 'counter';
@use 'variables';
@use 'infos';

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.background__container, body {
    background-color: variables.$colorBase;
}

.container {
    width: 100%;
    padding: 0 10vw;
}
